* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

/* Common */

a  {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: auto;
}
#navbar {
    background-color: #333;
    color: #fff;
    height: 65px;
    padding-top: 5px;
    /* overflow: auto; */
}

#navbar h1 {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
}

#navbar ul {
    float: right;
    list-style: none;
    padding-top: 15px;    
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    padding: 20px;
}

#navbar ul a:hover {
    text-decoration: underline;
    color: #f7c08a;

}
#features {
    text-align: center;
    /* margin-top: 20px;
    height: 200px;
    background-color:#333;
    color:white;
    margin-bottom:none; */

    
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    background-color: #333;
    color: white    ;
}

.box i {
    font-size: 50px;
}

.forms{
    width: 90%;
    font-family: monospace;
    margin: auto;
  

}

.forms form{
    margin-top: 20px;


}
.forms h1{
   padding-top: 0.5em;
   color:orange;
}

#name{
    width: 100%;
    
    
}
#messages{
    width: 100%;
}
.name{
    padding-top: 0.5em;
}
.email{
    padding-top: 0.5em;
}

.message{
    padding-top: 0.5em;
}

.button1{
    padding: 10px;
}

.btn{
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;

}
